StreamTraining
StreamTraining.zip
/6.Task-Manager-App/Backend/node_modules
/6.Task-Manager-App/Frontend/task-app/node_modules
/6.Task-Manager-App/Frontend/task-app/.vscode
/5.Online-Movie-Review-System/Backend/node_modules
/5.Online-Movie-Review-System/Frontend/movie-review-app/node_modules
/5.Online-Movie-Review-System/Frontend/movie-review-app/.vscode
/4.Employee-Leave-Tracker/Backend/node_modules
/4.Employee-Leave-Tracker/Frontend/leave-tracker/node_modules
/4.Employee-Leave-Tracker/Frontend/leave-tracker/.vscode
/3.Event-Registration-Portal/Backend/node_modules
/3.Event-Registration-Portal/Frontend/event-app/node_modules
/3.Event-Registration-Portal/Frontend/event-app/.vscode
/2.Online-Grocery-Store/Backend/node_modules
/2.Online-Grocery-Store/Frontend/grocery-app/node_modules
/2.Online-Grocery-Store/Frontend/grocery-app/.vscode
/1.Student-Management-System/Frontend/student-app/node_modules
/1.Student-Management-System/Frontend/student-app/.vscode
/1.Student-Management-System/Backend/node_modules
.grocery-app
