<form #formdata = "ngForm" (ngSubmit)="add(formdata.value)">
    <table border="1" cellPadding="10">
        <tr>
            <td>Name: </td>
            <td><input type="text" name="pname" ngModel required></td>
        </tr>
        <tr>
            <td>Category: </td>
            <td>
                <select name="pcategory" ngModel>
                    <option *ngFor="let c of categories" [value]="c">{{c}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Price: </td>
            <td><input type="Number" name="pprice" ngModel required></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center;">
                <button colspan="2">Add Product</button>
            </td>
        </tr>
    
    </table>
</form>